---
export const prerender = false;
import ImportanceCodeProposal from "@/components/ImportanceCodeProposal";
import "@/styles/global.css";
import "@/styles/shadcn.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Private Proposal</title>
  </head>
  <body>
    <ImportanceCodeProposal client:only="react" />
  </body>
</html>
